---
import Layout from "@layouts/Layout.astro";
import { items } from "../lib/products.js";
import CardPorProducto from "@components/ui/CardPorProducto.astro";

// Export `getStaticPaths` to generate dynamic routes
export async function getStaticPaths() {
  return items.map((item) => ({
    params: { id: item.id.toString() },
  }));
}

// Get the ID parameter from Astro
const { id } = Astro.params;

// Find the item by ID
const item = items.find((product) => product.id.toString() === id);

const descripcion = item.descripcion;

if (!item) {
  throw new Error(`item with ID ${id} not found`);
}
---

<Layout title={item.nombre_url}>
  <section class="mt-[96px] bg-white flex flex-col items-center">
    <div class="w-full flex justify-start"></div>
    <h1 class="text-header-bg font-semibold text-5xl px-5 text-center py-10">
      {
        (item.nombre_url || item.nombre).charAt(0).toUpperCase() +
          (item.nombre_url || item.nombre).slice(1)
      }
    </h1>
    <div
      class="max-w-[800px] text-custom-grey font-light px-5 text-center text-sm sm:text-base"
    >
      <div set:html={descripcion} />
    </div>
    <div
      class="grid gap-5 w-3/4 mt-10 mb-20 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
    </div>
  </section>
</Layout>
