---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Contact">
  <section
    class="bg-contact-color-bg text-zinc-700 flex justify-center items-center flex-col w-full pt-[160px]"
  >
    <h2 class="flex justify-center p-10 text-3xl items-center text-center text-header-bg">
      Ponete en contacto con nosotros
    </h2>
    <form class="justify-center items-center w-full sm:w-3/4">
      <div class="flex w-full flex-col gap-y-5 px-10">
        <div class="flex flex-col gap-y-5 sm:gap-y-0 sm:flex-row justify-between gap-x-10">
          <div class="flex flex-col w-full">
            <label for="nombre">Nombre:</label>
            <input
              type="text"
              id="nombre"
              name="nombre"
              class="bg-transparent p-2 border-b-[2px] border-slate-400 focus:outline-none focus:border-black transition-colors w-full"
            />
          </div>
          <div class="flex flex-col w-full">
            <label for="apellido">Apellido</label>
            <input
              type="text"
              id="apellido"
              name="apellido"
              class="bg-transparent p-2 border-b-[2px] border-slate-400 focus:outline-none focus:border-black transition-colors w-full"
            />
          </div>
        </div>
        <div class="flex flex-col justify-center items-center">
          <label class="self-start" for="mensaje">Mensaje:</label>
          <textarea
            id="mensaje"
            name="mensaje"
            class="bg-transparent p-2 border-b-[2px] border-slate-400 focus:outline-none focus:border-black transition-colors w-full"
          ></textarea>
          <button
            type="submit"
            class="bg-light-blue text-white flex justify-center items-center p-2 rounded-md hover:opacity-90 transition-opacity my-5 w-40"
          >
            Enviar
          </button>
        </div>
      </div>
    </form>
  </section>
</Layout>
