---
import ContactUs from "@components/ContactUs.astro";
import Frases from "@components/Frases.astro";
import ProductosHome from "@components/ProductosHome.astro";
import Marcas from "@components/Marcas.astro";
import Miembro from "@components/Miembro.astro";
import Layout from "@layouts/Layout.astro";
import LanguageSwitch from "@components/ui/LenguageSwitch";
---

<Layout title="All for water.">
  <div id="language-container" data-initial-language="EN">
    <LanguageSwitch client:load />

    <div id="english-content">
      <Frases />
      <ProductosHome />
      <ContactUs />
      <Marcas />
      <Miembro />
    </div>

    <div id="spanish-content" class="hidden">
      {/* Add your Spanish content here */}
      Spanish content goes here
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const container = document.getElementById("language-container");
      const englishContent = document.getElementById("english-content");
      const spanishContent = document.getElementById("spanish-content");
      const initialLanguage =
        container?.getAttribute("data-initial-language") || "EN";

      function updateLanguage(language) {
        if (language === "EN") {
          englishContent?.classList.remove("hidden");
          spanishContent?.classList.add("hidden");
        } else {
          englishContent?.classList.add("hidden");
          spanishContent?.classList.remove("hidden");
        }
      }

      // Initial language setup
      updateLanguage(initialLanguage);

      // Listen for custom language change event
      window.addEventListener("language-change", (event) => {
        const language = (event as CustomEvent).detail;
        updateLanguage(language);
      });
    });
  </script>
</Layout>
