<section
  class="relative gap-3 sm:gap-4 p-3 text-white flex flex-col h-60 justify-center items-center"
>
  <img
    src="/fotos/oceano.jpg"
    class="absolute inset-0 w-full h-full object-cover z-[-1]"
    loading="eager"
  />
  <h3 class="text-base sm:text-lg font-semibold">
    Place your order by fax, email or phone:
  </h3>
  <h2 class="text-xl sm:text-2xl font-bold">(954) 322-6666</h2>
  <h3 class="text-base sm:text-lg font-semibold">
    All orders are processed same day
  </h3>
  <a href="/contact">
    <button
      onclick="document.getElementById('loader').style.display = 'grid'"
      class="bg-white rounded-full text-black px-6 py-3 hover:scale-105 transition-all sm:text-lg"
      >CONTACT US</button
    >
  </a>
</section>
