<section
  class="relative gap-3 sm:gap-4 p-3 text-white flex flex-col h-60 justify-center items-center"
>
  <img
    src="/fotos/oceano.jpg"
    class="absolute inset-0 w-full h-full object-cover z-[-1]"
    loading="eager"
  />
  <h3 class="text-base sm:text-lg font-semibold text-center">
    Haga su pedido por fax (954) 322-6699, email:
    sales@waterpurificationsupplies.com, o por teléfono:
  </h3>
  <h2 class="text-xl sm:text-2xl font-bold">(954) 322-6666</h2>
  <h3 class="text-base sm:text-lg font-semibold">
    Todos los pedidos se procesan en el día
  </h3>
  <a href="/es/contacto">
    <button
      class="bg-white rounded-full text-black px-6 py-3 hover:scale-105 transition-all sm:text-lg"
      >CONTÁCTENOS</button
    >
  </a>
</section>
