---
import { Icon } from "astro-icon/components";
---

<footer class="bg-custom-grey-light text-custom-grey font-extralight">
  <section class="p-3">
    <h1 class="p-3 text-dark-green font-semibold">About us</h1>
    <p class="px-3">
      Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum
      commodo volutpat a, convallis. Phasellus fermentum in, dolor. Pellentesque
      facilisis. Nulla imper diet sit amet magna. Vestibulum dapibus, mauris nec
      malesuada fames ac turpis velit, rhoncus eu luctus et ac, laoreet enim.
    </p>
    <h1 class="p-3 text-dark-green font-semibold">Our mission</h1>
    <p class="px-3">
      Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem
      quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id
      elit. Duis sed odio sit amet. Sed ut imperdiet nisi. Proin condimentum
      fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris.
    </p>
    <h1 class="p-3 text-dark-green font-semibold">Shortcut links</h1>
    <div class="flex flex-row justify-evenly text-center text-blue-500">
      <ul class="flex flex-col">
        <li class="px-3 py-1">
          <a class="hover:underline transition-all" href="">Velit mauris</a>
        </li>
        <li class="px-3 py-1">
          <a class="hover:underline transition-all" href="">Entum feuis</a>
        </li>
        <li class="px-3 py-1">
          <a class="hover:underline transition-all" href="">Aluquam massa</a>
        </li>
        <li class="px-3 py-1">
          <a class="hover:underline transition-all" href="">Egestas quam</a>
        </li>
      </ul>
      <ul class="flex flex-col">
        <li class="px-3 py-1">
          <a class="hover:underline transition-all" href="">Velit mauris</a>
        </li>
        <li class="px-3 py-1">
          <a class="hover:underline transition-all" href="">Entum feuis</a>
        </li>
        <li class="px-3 py-1">
          <a class="hover:underline transition-all" href="">Aluquam massa</a>
        </li>
        <li class="px-3 py-1">
          <a class="hover:underline transition-all" href="">Egestas quam</a>
        </li>
      </ul>
    </div>
  </section>
  <div class="w-full bg-zinc-400 h-[1px]"></div>
  <section class="p-3 flex justify-center items-center flex-col">
    <button
      class="flex justify-center items-center rounded-lg h-12 w-12 bg-white hover:scale-105 transition-all"
    >
      <Icon class="" name="ri:arrow-up-s-line" size={25} />
    </button>
    <h3 class="font-extralight text-sm mt-5">
      Ⓒ 2018 Alfor Water. All rights reserved.
    </h3>
    <div class="flex justify-center gap-x-3 mt-2">
      <a href="">
        <Icon
          name="mdi:skype"
          color="lightgray"
          size={20}
          class="hover:text-white transition-all"
        />
      </a>
      <a href="">
        <Icon
          name="ri:facebook-line"
          color="lightgray"
          size={20}
          class="hover:text-white transition-all"
        />
      </a>
      <a href="">
        <Icon
          name="mdi:google-plus"
          color="lightgray"
          size={20}
          class="hover:text-white transition-all"
        />
      </a>
      <a href="">
        <Icon
          name="mdi:twitter"
          color="lightgray"
          size={20}
          class="hover:text-white transition-all"
        />
      </a>
      <a href="">
        <Icon
          name="mdi:vimeo"
          color="lightgray"
          size={20}
          class="hover:text-white transition-all"
        />
      </a>
      <a href="">
        <Icon
          name="mdi:play"
          color="lightgray"
          size={20}
          class="hover:text-white transition-all"
        />
      </a>
      <a href="">
        <Icon
          name="ri:flickr-fill"
          color="lightgray"
          size={20}
          class="hover:text-white transition-all"
        />
      </a>
      <a href="">
        <Icon
          name="flowbite:linkedin-solid"
          color="lightgray"
          size={20}
          class="hover:text-white transition-all"
        />
      </a>
    </div>
  </section>
</footer>
