---
import { Icon } from "astro-icon/components";
---

<footer class="bg-slate-200 text-custom-grey font-extralight">
  <div class="flex md:flex-row flex-col">
    <div class="p-3 flex flex-col gap-5 md:w-1/2">
      <div class="flex flex-col justify-center items-center text-center">
        <h1 class="p-3 text-light-blue font-semibold">HOW MAY WE HELP YOU?</h1>
        <p class="px-3">
          Contact us today for more information about water treatment products.
          Our expert team is here to answer your questions.
        </p>
      </div>
      <div class="flex flex-col justify-center items-center text-center">
        <h1 class="p-3 text-light-blue font-semibold">WORKING DAYS / HOURS</h1>
        <p class="px-3">
          Monday-Thursday: 9:30am to 1:00pm, 2:00pm to 5:00pm. <br />
          Friday: 9:30am to 1:00pm <br />
          Saturday: CLOSED <br />
          Sunday: CLOSED <br />
        </p>
      </div>
    </div>
    <div class="p-3 flex flex-col gap-5 md:w-1/2 justify-center items-center">
      <div class="flex flex-col justify-center items-center text-center">
        <h1
          class="text-3xl md:text-5xl p-3 text-light-blue font-semibold flex items-center"
        >
          <Icon name="ic:baseline-phone" />
          <span class="ml-2">(954) 322-6666</span>
        </h1>
        <p class="px-3">
          3146 John P. Curcie Dr., Bay 8 Pembroke Park, FL 33009
        </p>
        <p class="px-3 flex items-center gap-1">
          <Icon name="ic:baseline-email" />
          <span> sales@allforwater.com </span>
        </p>
      </div>
    </div>
  </div>
  <div class="w-full bg-zinc-400 h-[1px]"></div>
  <section class="p-3 flex justify-center items-center flex-col">
    <button
      id="scroll-top"
      class="flex justify-center items-center rounded-full h-12 w-12 bg-white hover:scale-105 transition-all"
    >
      <Icon class="" name="ri:arrow-up-s-line" size={25} />
    </button>
    <h3 class="font-extralight text-sm mt-5">
      Ⓒ 2024 All for Water. All rights reserved.
    </h3>
  </section>
</footer>

<script is:inline>
  document.getElementById("scroll-top").addEventListener("click", (e) => {
    e.preventDefault(); // Evitar el comportamiento predeterminado del enlace
    const productosSection = document.querySelector("#productos");
    if (productosSection) {
      productosSection.scrollIntoView({ behavior: "smooth" });
    }
  });
</script>
