---
import { Icon } from "astro-icon/components";
---

<section
  class="relative h-screen text-white flex items-center justify-center flex-col overflow-hidden bg-[url('/fotos/oceano.jpg')] md:bg-fixed md:bg-cover md:bg-center"
>
  <div
    class="z-10 text-center relative flex-grow flex items-center justify-center p-4 rounded-lg"
  >
    <h1
      id="frases"
      class="sm:text-7xl md:text-6xl text-5xl font-bold opacity-0 text-gray-100 transition duration-500 transform"
    >
      All you need in life is water and love
    </h1>
  </div>
  <button
    id="button-down"
    class="bg-[#55a5ca] text-white rounded-full hover:scale-110 p-5 mb-10 flex justify-center items-center shadow-lg transition-all duration-300"
  >
    <Icon name="mdi:arrow-down" size={30} class="text-white" />
  </button>
</section>

<style>
  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-out-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  .animate-slide-in-right {
    animation: slide-in-right 0.3s forwards;
  }

  .animate-slide-out-left {
    animation: slide-out-left 0.3s forwards;
  }
</style>

<script>
  const frases = [
    "Residential and commercial water treatment systems",
    "We are the solution to your water problems",
    "All you need in life is water and love",
  ];

  let currentFraseIndex = 0;
  const fraseElement = document.getElementById("frases");

  function cambiarFrase(index) {
    fraseElement.classList.remove(
      "opacity-0",
      "animate-slide-in-right",
      "animate-slide-out-left"
    );

    fraseElement.classList.add("animate-slide-out-left");

    setTimeout(() => {
      fraseElement.textContent = frases[index];
      fraseElement.classList.remove("animate-slide-out-left");
      fraseElement.classList.add("animate-slide-in-right");
    }, 500);
  }

  function nextFrase() {
    currentFraseIndex = (currentFraseIndex + 1) % frases.length;
    cambiarFrase(currentFraseIndex);
  }

  setInterval(nextFrase, 5000);
  document.addEventListener("DOMContentLoaded", () =>
    cambiarFrase(currentFraseIndex)
  );

  const buttonDown = document.getElementById("button-down");

  buttonDown.addEventListener("click", () => {
    window.scrollTo({
      top: window.innerHeight,
      behavior: "smooth",
    });
  });
</script>
