<section
  class="relative h-40 sm:h-60 text-white flex items-center justify-center"
>
  <video
    class="absolute inset-0 w-full h-full object-cover z-[-1]"
    autoplay
    loop
    muted
    playsinline
  >
    <source src="/videos/agua.mp4" type="video/mp4" />
  </video>

  <div class="z-10 text-center relative">
    <h1
      id="frases"
      class="sm:text-4xl text-3xl font-bold opacity-0 transition duration-500 transform"
    >
    </h1>
  </div>
</section>

<style>
  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-out-right {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  @keyframes slide-out-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  .animate-slide-in-right {
    animation: slide-in-right 0.5s forwards;
  }

  .animate-slide-in-left {
    animation: slide-in-left 0.5s forwards;
  }

  .animate-slide-out-right {
    animation: slide-out-right 0.5s forwards;
  }

  .animate-slide-out-left {
    animation: slide-out-left 0.5s forwards;
  }
</style>

<script>
  const frases = [
    "All you need in life is water and love",
    "Residential and commercial water treatment systems",
    "We are the solution to your water problems",
  ];

  let currentFraseIndex = 0;
  const fraseElement = document.getElementById("frases");

  function cambiarFrase(index, direction) {
    fraseElement.classList.remove(
      "translate-x-full",
      "-translate-x-full",
      "opacity-0",
      "animate-slide-in-right",
      "animate-slide-in-left",
      "animate-slide-out-right",
      "animate-slide-out-left"
    );

    const exitClass =
      direction === "next"
        ? "animate-slide-out-left"
        : "animate-slide-out-right";
    const enterClass =
      direction === "next" ? "animate-slide-in-right" : "animate-slide-in-left";

    fraseElement.classList.add(exitClass);

    setTimeout(() => {
      fraseElement.textContent = frases[index];
      fraseElement.classList.remove(exitClass);
      fraseElement.classList.add(enterClass);
    }, 500);
  }

  function nextFrase() {
    currentFraseIndex = (currentFraseIndex + 1) % frases.length;
    cambiarFrase(currentFraseIndex, "next");
  }

  setInterval(nextFrase, 5000);
  document.addEventListener("DOMContentLoaded", () =>
    cambiarFrase(currentFraseIndex, "next")
  );
</script>
