---
import Menu from "./icons/Menu.astro";
import Search from "./icons/Search.astro";
import { Icon } from "astro-icon/components";
---

<header id="header" class="fixed top-0 w-full bg-transparent text-white z-50 transition-colors duration-300">
  <div class="flex justify-between items-center py-8 relative text-white">
    <div class="flex justify-center items-center gap-5">
      <div class="text-xl ml-5">🌄</div>
      <h1 class="hidden sm:flex font-extralight text-2xl">All For Water</h1>
    </div>
    <div class="flex flex-row gap-5 items-center px-5">
      <nav class="hidden sm:flex gap-x-5">
        <a class="hover:scale-105 transition-all hover:text-light-green" href="">HOME</a>
        <a class="hover:scale-105 transition-all hover:text-light-green" href="">PRODUCTS</a>
        <a class="hover:scale-105 transition-all hover:text-light-green" href="">CONTACT US</a>
      </nav>
      <div class="relative">
        <input
          type="text"
          placeholder="Search..."
          class="px-3 py-2 rounded-md text-black focus:outline-none transition-all"
          onfocus="this.placeholder=''"
          onblur="this.placeholder='Search...'"
        />
        <Search />
      </div>
      <button
        id="menu-button"
        class="hover:cursor-pointer sm:hidden flex right-3"
        onclick="sidebar.classList.toggle('translate-x-full')"
      >
        <Icon
          class="hover:scale-110 hover:cursor-pointer"
          name="material-symbols-light:menu"
          size={30}
        />
      </button>
    </div>
  </div>

  <aside
    id="sidebar"
    class="fixed z-50 top-0 right-0 w-64 h-full bg-header-bg text-white p-4 transform transition-transform translate-x-full duration-300"
  >
    <button
      id="close-button"
      class="flex pb-10 pt-5"
      onclick="sidebar.classList.toggle('translate-x-full')"
    >
      <Icon
        class="hover:scale-110 hover:cursor-pointer"
        name="material-symbols-light:close"
        size={30}
      />
    </button>
    <nav class="flex flex-col gap-y-10 justify-center items-center">
      <a class="hover:text-header-text transition-colors" href="#">HOME</a>
      <a class="hover:text-header-text transition-colors" href="#">PRODUCTS</a>
      <a class="hover:text-header-text transition-colors" href="#">CONTACT US</a>
    </nav>
  </aside>
</header>

<script>
  window.addEventListener('scroll', () => {
    const header = document.getElementById('header');
    if (window.scrollY >= window.innerHeight) {
      header.classList.add('bg-header-bg');
    } else {
      header.classList.remove('bg-header-bg');
    }
  });
</script>

<style>
  .bg-header-bg {
    background-color: #0f3666;
  }
</style>
