---
import Card from "./ui/Card.astro";
import MarcasCard from "./ui/MarcasCard.astro";
---

<section class="bg-white flex justify-center items-center flex-col">
  <h2
    class="text-header-bg font-semibold sm:text-5xl text-2xl px-5 pt-20 text-center"
  >
    Marcas Representadas
  </h2>
  <p class="text-custom-grey font-light max-w-[800px] p-5 text-center">
    Top brands at your fingertips: Matrikx® Carbon Block, Viqua® Sterilight®
    UV Systems, Toray® Membranes, CSM® Reverse Osmosis Membranes,
    Hydranautics® Membranes , Goulds Pumps®, Procon Pumps®, CAT Pumps®,
    Purolite® Resin, Resintech® Resin, Clack® Valves. All you need and much
    more!
  </p>
  <div
    class="grid gap-5 w-3/4 mt-10 mb-20 justify-center items-center sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    <MarcasCard
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/blue-white.jpg"
    />
    <MarcasCard
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/blue-white.jpg"
    />
    <MarcasCard
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/blue-white.jpg"
    />
    <MarcasCard
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/blue-white.jpg"
    />
    <MarcasCard
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/blue-white.jpg"
    />
    <MarcasCard
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/blue-white.jpg"
    />
    <MarcasCard
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/blue-white.jpg"
    />
    <MarcasCard
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/blue-white.jpg"
    />
    <MarcasCard
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/blue-white.jpg"
    />
  </div>
</section>
