---
import MarcasCard from "./ui/MarcasCard.astro";
import { segmentos } from "@lib/segmentos";
import { marcas } from "@lib/marcas";

const uniqueMarca = [...new Set(marcas.map((marca) => marca))];
---

<section class="bg-white flex justify-center items-center flex-col">
  <h2
    class="text-light-blue font-semibold sm:text-5xl text-2xl px-5 pt-20 text-center"
  >
    Brands we Represent
  </h2>
  <p class="text-custom-grey font-light max-w-[800px] p-5 text-center">
    Top brands at your fingertips: Matrikx® Carbon Block, Viqua® Sterilight®
    UV Systems, Toray® Membranes, CSM® Reverse Osmosis Membranes,
    Hydranautics® Membranes , Goulds Pumps®, Procon Pumps®, CAT Pumps®,
    Purolite® Resin, Resintech® Resin, Clack® Valves. All you need and much
    more!
  </p>
  <div
    class="grid gap-5 w-3/4 mt-10 mb-20 justify-center items-center sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    {
      uniqueMarca.map((marca) => (
        <MarcasCard
          imgSrc={marca.fotoUrl}
          link={
            "" +
            (marca.nombre.toLowerCase() === "viqua"
              ? "/categoria/ULTRAVIOLET%20STERILIZERS"
              : marca.nombre.toLowerCase() === "matrikx"
                ? "/categoria/CARTRIDGES"
                : marca.nombre.toLowerCase() === "purolite"
                  ? "/categoria/MEDIA%20&%20RESINS"
                  : marca.nombre.toLowerCase() === "resintech"
                    ? "/categoria/MEDIA%20&%20RESINS"
                    : "/marca/" + marca.id)
          }
        />
      ))
    }
  </div>
</section>
