<section
  class="flex flex-col bg-header-bg/70 justify-center items-center gap-10 text-white p-10"
>
  <img
    src="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/water-association-member-300x133-1.png"
    alt=""
    class="w-[195px] h-[86px]"
  />
  <p class="max-w-[195px] font-extralight text-sm">
    WQA is the leading voice of the residential, commercial, industrial and
    small community water treatment industry, representing more than 2,500
    manufacturers, suppliers and dealers worldwide.
  </p>
</section>
