<section class="text-white flex flex-col sm:flex-row">
  <div
    class="flex flex-col bg-dark-green gap-10 p-10 w-full justify-center items-center"
  >
    <p
      class="max-w-[195px] sm:max-w-[300px] sm:font-light font-medium text-lg sm:text-2xl text-center sm:text-start"
    >
      Distribuidor mayorista para todas sus necesidades de agua, estamos
      asociados con algunas de las marcas más grandes como viqua, clack, toray,
      csm, hydranautics, goulds, procon, cat y más.
    </p>
  </div>
  <img
    src="/fotos/family_water.jpg"
    alt="WQA"
    class="sm:w-1/2 w-full h-auto object-cover"
    loading="eager"
  />
</section>
