<section class="text-white flex flex-col sm:flex-row">
  <div
    class="flex flex-col bg-dark-green gap-10 p-10 w-full justify-center items-center"
  >
    <p
      class="max-w-[195px] sm:max-w-[300px] sm:font-light font-medium text-lg sm:text-2xl text-center sm:text-start"
    >
      Wholesale distrubuiter for all your water needs, we are asociated to some
      of the biggest brands like, viqua, clack, toray, csm, hydranautics,
      goulds, procon, cat and more.
    </p>
  </div>
  <img
    src="/fotos/family_water.jpg"
    alt="WQA"
    class="w-1/2 h-auto object-cover"
    loading="eager"
  />
</section>
