<section class="text-white flex flex-col sm:flex-row">
  <div
    class="flex flex-col bg-[rgb(21,128,61)] gap-10 p-10 w-full justify-center items-center"
  >
    <p
      class="flex justify-center items-center sm:font-light font-medium text-lg sm:text-2xl text-center px-40"
    >
      Distribuidor mayorista para todas sus necesidades de agua, estamos
      asociados con algunas de las marcas más grandes como viqua, clack, toray,
      csm, hydranautics, goulds, procon, cat y más. Ofrecemos una amplia gama de
      productos y soluciones para el tratamiento de agua, incluyendo filtros,
      sistemas de ósmosis inversa, bombas y accesorios. Nuestro equipo de
      expertos está comprometido a proporcionar el mejor servicio y soporte
      técnico para asegurar que sus necesidades de agua sean satisfechas de
      manera eficiente y efectiva.
    </p>
  </div>
  <!-- <img
    src="/fotos/family_water.jpg"
    alt="WQA"
    class="sm:w-1/2 w-full h-auto object-cover"
    loading="eager"
  /> -->
</section>
