<section class="text-white flex flex-col sm:flex-row">
  <div
    class="flex flex-col bg-dark-green gap-10 p-10 w-full justify-center items-center"
  >
    <img
      src="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/water-association-member-300x133-1.png"
      alt=""
      class="w-[195px] h-[86px] sm:w-[300px] sm:h-[133px]"
      loading="eager"
    />
    <p
      class="max-w-[195px] sm:max-w-[300px] sm:font-normal font-extralight text-sm sm:text-lg"
    >
      WQA is the leading voice of the residential, commercial, industrial and
      small community water treatment industry, representing more than 2,500
      manufacturers, suppliers and dealers worldwide.
    </p>
  </div>
  <img
    src="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/AdobeStock_100134589-scaled.jpeg?id=182"
    alt="WQA"
    class="w-full h-[300px] sm:h-[500px] object-cover"
    loading="eager"
  />
</section>
