---
import Card from "./ui/Card.astro";
import { items } from "@lib/categories";
---

<section class="bg-white flex justify-center items-center flex-col">
  <h1
    class="text-header-bg font-semibold text-3xl sm:text-5xl px-5 pt-[96px] text-center"
  >
    Our Products
  </h1>
  <p class="max-w-[800px] text-custom-grey font-light p-5 text-center">
    The solution to all your water treatment problems. We have been selling
    water treatment supplies wholesale for over 20 years. Official distributors
    of CLACK, Toray, Hydranautics, CSM, and many more companies.
  </p>
  <div
    class="grid gap-5 w-3/4 mt-10 items-center justify-center mb-20 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    {
      items.map((item) => (
        <a href={`/${item.nombre}`}>
          <Card imgSrc={item.fotoUrl} text={item.nombre} />
        </a>
      ))
    }
  </div>
</section>
