---
import Card from "./ui/Card.astro";
---

<section class="bg-white flex justify-center items-center flex-col">
  <h2
    class="text-header-bg font-semibold text-2xl sm:text-5xl px-5 pt-20 text-center"
  >
    Nuestros Productos
  </h2>
  <p class="max-w-[800px] text-custom-grey font-light p-5 text-center">
    La solución a todos tus problemas del tratamiento de agua. Vendemos insumos
    de tratamiento de agua por mayor hace mas de 20 Años. Distribuidores
    oficiales de CLACK, Toray, Hydranautics, CSM y muchisimas companias mas.
  </p>
  <div
    class="grid gap-5 w-3/4 mt-10 mb-20 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    <Card
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/HOUSING-768x768-1.jpg"
      text="Housing"
    />
    <Card
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/HOUSING-768x768-1.jpg"
      text="Housing"
    />
    <Card
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/HOUSING-768x768-1.jpg"
      text="Housing"
    />
    <Card
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/HOUSING-768x768-1.jpg"
      text="Housing"
    />
    <Card
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/HOUSING-768x768-1.jpg"
      text="Housing"
    />
    <Card
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/HOUSING-768x768-1.jpg"
      text="Housing"
    />
  </div>
</section>
