---
import Card from "./ui/Card.astro";
---

<section class="bg-white flex justify-center items-center flex-col">
  <h2 class="text-dark-green font-semibold text-2xl px-5 pt-10 text-center">
    RESIDENTIAL & COMMERCIAL WATER TREATMENT SOLUTIONS
  </h2>
  <p class="text-custom-grey font-light p-5 text-center">
    Water is essential, and it must be clean and pure for everyone’s health.
    Water purification systems are here to improve water quality from your
    source anywhere you are. Get fresh, pure, healthy drinking water by removing
    chemicals, bacteria, and parasites from your water.
  </p>
  <div class="flex flex-col gap-10 my-10">
    <Card
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/HOUSING-768x768-1.jpg"
      text="Housing"
    />
    <Card
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/HOUSING-768x768-1.jpg"
      text="Housing"
    />
    <Card
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/HOUSING-768x768-1.jpg"
      text="Housing"
    />
    <Card
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/HOUSING-768x768-1.jpg"
      text="Housing"
    />
    <Card
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/HOUSING-768x768-1.jpg"
      text="Housing"
    />
    <Card
      imgSrc="https://waterpurificationsupplies.com/wp-content/uploads/2021/07/HOUSING-768x768-1.jpg"
      text="Housing"
    />
  </div>
</section>
