---
import Card from "./ui/Card.astro";
import { items } from "@lib/categories";
---

<section
  id="productos"
  class="bg-white flex justify-center items-center flex-col"
>
  <h1
    class="text-light-blue font-semibold text-3xl sm:text-5xl px-5 pt-[96px] text-center"
  >
    Our Products
  </h1>
  <p class="max-w-[800px] text-custom-grey font-bold p-5 text-center">
    The solution to all your water treatment problems. In business for over 20
    years, we are official Distributors of water treatment supplies for CLACK,
    Toray, Hydranautics, CSM, VIQUA, CAT Pumps, Procon, Goulds, FLECK - Pentair,
    Resintech, and many more companies
  </p>
  <div
    class="grid gap-10 w-3/4 mt-10 items-center justify-center mb-20 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    {
      items.map((item) => (
        <a href={`/category/${item.nombre}`} class="w-full h-full">
          <Card imgSrc={item.fotoUrl} text={item.nombre} />
        </a>
      ))
    }
  </div>
</section>
