---
interface Props {
  title: string;
  description: string;
  keywords: string;
  canonical: string;
}
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
// import ViewTransitions from "astro/components/ViewTransitions.astro";
import { ViewTransitions } from "astro:transitions";

const { title, description, keywords, canonical } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="canonical" href={canonical} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/fotos/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/fotos/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/fotos/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="/fotos/favicon_io/site.webmanifest" />

    <script>
      document.addEventListener("contextmenu", (event) => {
        if ((event.target as HTMLElement).tagName === "IMG") {
          event.preventDefault();
          alert("No puedes guardar esta imagen.");
        }
      });
    </script>
    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global></style>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap");
</style>
