---
interface Props {
  title: string;
  description?: string;
  keywords?: string;
  canonical?: string;
}
// import ViewTransitions from "astro/components/ViewTransitions.astro";
import HeaderEs from "@components/Header_es.astro";
import FooterEs from "@components/Footer_es.astro";

const { title, description, keywords, canonical } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <script>
      document.addEventListener("contextmenu", (event) => {
        if ((event.target as HTMLElement).tagName === "IMG") {
          event.preventDefault();
          alert("No puedes guardar esta imagen.");
        }
      });
    </script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap");
    </style>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <link rel="canonical" href={canonical} />
  </head>
  <body>
    <script>
      window.addEventListener("pageshow", function (event) {
        if (event.persisted) {
          // If the page is loaded from cache (back/forward navigation), hide the loader
          document.getElementById("loader").style.display = "none";
        }
      });

      // Optionally, hide the loader on normal load after content is ready
      window.addEventListener("load", function () {
        document.getElementById("loader").style.display = "none";
      });
    </script>
    <style>
      /* HTML: <div class="loader"></div> */
      #loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #fff;
        z-index: 1000;
        display: grid;
        place-items: center;
        display: none;
      }
      /* HTML: <div class="loader"></div> */
      .loader {
        width: fit-content;
        font-weight: bold;
        font-family: monospace;
        font-size: 40px;
        background: radial-gradient(circle closest-side, #5ca9cc 94%, #0000)
          right/calc(200% - 1em) 100%;
        animation: l24 1s infinite alternate linear;
      }
      .loader::before {
        content: "Cargando...";
        line-height: 1em;
        color: #0000;
        background: inherit;
        background-image: radial-gradient(circle closest-side, #fff 94%, #000);
        -webkit-background-clip: text;
        background-clip: text;
      }

      @keyframes l24 {
        100% {
          background-position: left;
        }
      }
    </style>
    <HeaderEs />
    <main>
      <div id="loader">
        <div class="loader"></div>
      </div>
      <slot />
    </main>
    <FooterEs />
  </body>
</html>
