---
interface Props {
  title: string;
}
import ViewTransitions from "astro/components/ViewTransitions.astro";
import HeaderEs from "@components/Header_es.astro";
import FooterEs from "@components/Footer_es.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <ViewTransitions />
  </head>
  <body>
    <script>
      // Deshabilitar el clic derecho en imágenes
      document.addEventListener("contextmenu", (event) => {
        if ((event.target as HTMLElement).tagName === "IMG") {
          event.preventDefault();
          alert("No puedes guardar esta imagen.");
        }
      });
    </script>
    <HeaderEs />
    <main>
      <slot />
    </main>
    <FooterEs />
  </body>
</html>
<style is:global></style>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap");
</style>
