---
const { imgSrc } = Astro.props;
const { text } = Astro.props;
const { desc } = Astro.props;

let editedDesc = desc.replace("<strong>", "<em>").replace("</strong>", "</em>");
editedDesc = `<div class="p-4 text-gray-800 font-medium leading-relaxed border-t border-gray-300">${editedDesc}</div>`;
---

<button
  class="shadow-xl shadow-violeta/40 flex justify-center items-center flex-col rounded-xl hover:scale-105 transition-all"
>
  <img
    src={imgSrc}
    alt="Housing img"
    class="h-80 w-auto sm:h-60 md:h-50 p-5"
    loading="eager"
  />
  <h5 class="p-5 text-[#5C5D56] text-xl font-bold">{text}</h5>
  <p set:html={editedDesc} />
</button>
