---
const { imgSrc } = Astro.props;
const { link } = Astro.props;
const { nombre_marca } = Astro.props;
---

<a
  href={link}
  onclick="document.getElementById('loader').style.display = 'grid'"
  class="hover:scale-110 transition-all"
>
  <img src={imgSrc} alt={nombre_marca ? nombre_marca : "Brand Name"} class="w-auto h-auto" loading="lazy" />
</a>
